<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}RunSEO{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav>
      <div class="logo">
        <a href="{{ url_for('dashboard') }}">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="RunSEO Logo">
        </a>
    </div>
        <div class="nav-links">
            <a href="{{ url_for('dashboard') }}">Dashboard</a>
            <a href="{{ url_for('upload') }}">Importar CSV</a>
            <a href="{{ url_for('roi') }}">Calcular ROI</a>
            <a href="{{ url_for('logout') }}">Sair</a>
        </div>
    </nav>
    <main>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flash">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
</body>
</html>
